body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #12c2e9;
    background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

ul
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

a
{
    color: white;
}

ul li
{
    list-style-type: none;
}

h1
{
    text-align: center;
}

form input
{
    margin: 10px;
}

.search
{
    border: 1px solid lightgrey;
    margin: 25px 10% 0 10%;
    padding: 20px;
    text-align: center;
}

table
{
    margin-top: 50px;
    margin-left: 24%;
    border-collapse: collapse;
    width: 50%;
}

td, th
{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

tr:first-child
{
    background-color: #dddddd;
}

#updatebutton
{
    background-color: lightgreen;
	padding:6px 24px;
}

#deletebutton
{
    background-color: lightcoral;
	padding:6px 24px;
}

#deletebutton2
{
    background-color: lightcoral;
    margin-left: 48%;
    margin-top: 20px;
}

#plusButton
{
    background-color: lightblue;
	padding:6px 24px;
}

#add-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-form input
{
    margin: 5px 25px 25px 25px;
}

#moretd
{
    display: flex;
}

.flex
{
    display: flex;
    justify-content: space-around;
}

#textarea
{
    width: 1000px;
    height: 400px;;
}